src/main/resources/Dummy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Dummy" targetNamespace="urn:com.example.switchyard:switchyard-example:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.example.switchyard:switchyard-example:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:com.example.switchyard:switchyard-example:1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.example.switchyard:switchyard-example:1.0">
  <xs:complexType name="dummyGuy">
    <xs:sequence>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sayHello" type="sayHello"/>
  <xs:complexType name="sayHello">
    <xs:sequence>
      <xs:element minOccurs="0" name="dummyGuy" type="dummyGuy"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sayHelloResponse" type="sayHelloResponse"/>
  <xs:complexType name="sayHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="string" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sayBye" type="sayBye"/>
  <xs:complexType name="sayBye">
    <xs:sequence>
      <xs:element minOccurs="0" name="dummyGuy" type="dummyGuy"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sayByeResponse" type="sayByeResponse"/>
  <xs:complexType name="sayByeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="string" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="sayByeResponse">
    <wsdl:part name="parameters" element="tns:sayByeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayBye">
    <wsdl:part name="parameters" element="tns:sayBye">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part name="parameters" element="tns:sayHelloResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part name="parameters" element="tns:sayHello">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DummyPortType">
    <wsdl:operation name="sayHello">
      <wsdl:input name="sayHello" message="tns:sayHello">
    </wsdl:input>
      <wsdl:output name="sayHelloResponse" message="tns:sayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayBye">
      <wsdl:input name="sayBye" message="tns:sayBye">
    </wsdl:input>
      <wsdl:output name="sayByeResponse" message="tns:sayByeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DummySoapBinding" type="tns:DummyPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="sayHello" style="document"/>
      <wsdl:input name="sayHello">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayBye">
      <soap:operation soapAction="sayBye" style="document"/>
      <wsdl:input name="sayBye">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayByeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Dummy">
    <wsdl:port name="DummyPort" binding="tns:DummySoapBinding">
      <soap:address location="http://localhost:8080/switchyard-example/Dummy"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
